{{ define "name" }}
    {{ if eq .Type "tags" }}
        #{{ .Title | lower }}
    {{ else }}
        {{ .Title }}
    {{ end }}
{{ end }}

{{ define "main" }}
    <article class="post">
        <hgroup class="post-header">
            <h2 class="post-header-title">
                {{ if eq .Type "tags" }}
                    <a href="{{ .RelPermalink }}">#{{ .Title | lower }}</a>
                {{ else }}
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ end }}
            </h2>
        </hgroup>

        <div class="post-body">
            {{ range .Pages.GroupByDate "January 2006" }}
                <h3> {{ .Key }} </h3>
                <ul class="post-body-archive">
                    {{ range .Pages }}
                        <li>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            <span> {{ .Date.Format "2 January 2006" }} </span>
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
    </article>
{{ end }}
