@media only screen and (max-width: 680px) {
    #site-header,
    #site-header #site-header-navigation-menu,
    .pagination ul {
        column-gap: 0.5rem;
    }

    #site-body {
        .post {
            box-shadow: none;
            border-left: none;
            border-right: none;
            padding: 1rem;
            max-width: 100%;
        }
    }
}
